[Desktop Entry]
Name=DragonLauncher
Comment=Emulador de compatibilidade para jogos Windows
Exec=/usr/bin/dragonlauncher
Icon=system-run
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=wine;windows;games;launcher;
