[Desktop Entry]
Name=DragonLauncher
Comment=Rodar jogos Windows com tradução DXGL
Exec=/bin/bash /opt/dragonlauncher/DragonLauncher.sh
Icon=system-run
Terminal=false
Type=Application
Categories=Game;Utility;
Path=/opt/dragonlauncher
